body {
    padding-top: 10% ;
    background-color: black;
    color: whitesmoke;
    font-family: 'Advent Pro', sans-serif;
}
aside {
    border: 1px solid black ;
}

section{
    border: 1px solid black ;
}

nav {
    border: 1px solid black;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
}

main{
    
}

main, aside{
    background-color: #3E3E3E;
    padding: 20px;
    border-radius: 20px;
    margin: 0 20% 0 0;
}

nav{
    background-color: #535353;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 0;
}
.wrapper{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 20%;
}

.article{
    display: flex;
    padding-left: 1%;
    width: calc(145% / 4);
}