body {
    padding-top: 10% ;
    background-color: black;
    color: whitesmoke;
    font-family: 'Advent Pro', sans-serif;
}
aside {
    border: 1px solid black ;
}
aside img{
    border: 1px solid orange;
    height: 100px;
    border-radius: 20px;
    margin-left: 17%;
}

main{
    
}

h2{
    text-align: right;
}

nav {
    border: 1px solid black;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main, aside{
    min-height: 85%;
}

aside p{
    background-color: #535353;
    border-radius: 20px;
    text-align: center;
    padding: 2px 10px 10px 10px;
}
nav{
    background-color: #535353;
    text-align: end;
    text-transform: ;
}

footer {
    text-align: center;
}
.wrapper{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 20%;
}

.article{
    display: flex;
    padding-left: 1%;
    width: calc(145% / 4);
    margin: 1%;
    border: 1px solid orange;
}