html, body {
    height: 100vh;
    margin: 0px;
}

aside {
    position: fixed;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
}

aside img{
    border-radius: 10%;
}
aside p{
    text-align: center;
}

.right{
    width: 50%;
    height: 50vh;
    margin-left: 50%;
    padding-top: 5%;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2 > div {
    display: flex;
    flex-basis: calc(34%);
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.article {
    margin: 20px;
    border-radius: 10px;
}

.article1 {
    background-color: red;
}

.article2 {
    background-color: orange;
}

.article3 {
    background-color: blue;
}

.article4 {
    background-color: green;
}

footer {
    text-align: center;
}