@use '../../styles/variables' as v;

.ProjectsSection {
	min-height: calc(100vh - #{v.$header-height});
	max-width: v.$content-max-width;
	margin: 0 auto;
	padding: v.$spacing-lg v.$spacing-md;

	h2 {
		margin-bottom: v.$spacing-md;
	}

	&-grid {
		display: flex;
		flex-wrap: wrap;
		gap: v.$spacing-lg v.$spacing-md;
	}
}
